<div class="search-form">
  <div class="row">
    <%= search_form_for @q do |f| %>
      <div class="col-md-10">
        <%= f.text_field :title_cont, placeholder: "Search Posts", class: "form-control" %>
      </div>
      <div class="col-md-2">
        <%= f.submit "Search", name: nil, class: "btn-submit" %>
      </div>
    <% end %>
  </div>
</div>
