.left-content{
  background: white;
  width: 65%;
  float: left;
  margin-top: 20px;
}
.list-post{
  padding: 5px;
  .row{
    .col-md-6{
      display: block;
      float: left;
      margin-bottom: 20px;
    }
  }
}
.item-post{
  padding: 10px 5px;
  box-sizing: border-box;
  .item-content{
    position: relative;
    li{
      list-style: none;
    }
    .dropdown{
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
.item-post:not(:last-child){
  border-bottom: 1px solid #f1f1f1;
}
.item-img{
  padding: 5px;
}
.item-img img{
  width: 100%;
  height: 190px;
}
.item-title a{
  color: black;
  transition: 0.4s;
  font-size: 1em;
}
.item-title a:hover{
  color:red;
  text-decoration: none;
}
/*right content*/
.right-content{
  width: 30%;
  margin-left: 5%;
  box-sizing: border-box;
  float: left;
  .profile-stats{
    width: 80%;
    float: left;
    background: white;
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #dadada;
    li{
      width: 100%;
      height: 50px;
      line-height: 50px;
      display: block;
      float: left;
      color: #8c8c8c;
      position: relative;
      list-style: none;
      p{
        position: absolute;
        top: 0;
        left: 0;
      }
      span{
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}
.right-content .tb-block:not(:first-child){
  margin-bottom: 15px;
}
.tags, .author{
  width: 100%;
  height: auto;
  padding: 10px;
}
.tags .item-tag{
  width: auto;
  height: 30px;
  margin-bottom: 7px;
  display: inline-block;
}
.tags a{
  text-decoration: none;
}
.tags a:hover{
  text-decoration: none;
}
.item-tag span{
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: white;
  font-size: 13px;
  padding: 0 5px;
}
.item-tag .title-tag{
  height: 30px;
  line-height: 30px;
  background: white;
  color: grey;
  padding: 3px 8px;
  border-radius: 5px 0px 0px 5px;
}
.title-tag:hover{
  background: grey;
  color: white;
  cursor: pointer;
}
.item-tag .number-tag{
  background: #7eb4cc;
  padding: 3px 5px;
  height: 30px;
  line-height: 30px;
  border-radius: 0px 5px 5px 0px;
}
.item-author{
  margin: 10px 0px;
  .col-md-4{
    text-align: center;
    .btn-follow{
      margin-top: 5px;
      background: white;
      border: 2px solid #84b7de;
      border-radius: 5px;
      padding: 5px 8px;
      color: #84b7de;
    }
    .btn-follow:hover{
      background: #efefef;
      color: white;
    }
  }
  .col-md-8{
    margin-left: -15px;
  }
}
.item-author .row:not(:last-child){
  margin-bottom: 10px;
}
.item-author .col-md-4{
  margin: 0px !important;
}
.item-author .img-user{
  text-align: center;
}
.item-author .img-user img{
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.item-author .infor-user{
  float: left;
  .name{
    color: #84b7de;
    font-weight: bold;
  }
  .email{
    color: #969696;
    font-style: italic;
  }
}
.time{
  color: grey;
  font-style: italic;
}
.small-avatar{
  width: 50px;
  height: 50px;
}
.list-tag {
    display: inline-grid;
    padding: 0 40px;
    position: relative;
    margin-bottom: 12px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.list-tag input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.list-tag:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.list-tag input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.list-tag input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.list-tag .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.form-post{
  padding: 40px 20px;
   background: white;
   h4{
    font-weight: bold;
    text-align: center;
   }
}
.comments{
  .form-comment{
    width: 100%;
    margin: 30px 0px;
    hr{

    }
    .row{
      .col-md-2{
        margin: 0px auto;
        img.avatar.img-circle {
          width: 69%;
        }
      }
      .col-md-10{
        .btn{
          margin-top: 5px;
          float: right;
          margin-right: 5px;
        }
      }
    }
  }
  .list-comment{
    .item-comment {
      background: #fbfbfb;
      padding:  10px;
      margin-bottom: 10px;
      .form-edit{
        display: none;
      }
      p{
        span{
          padding-left: 10px;
        }
        .time-post{
          float: right;
          margin-right: 5px;
        }
        .name-user{
          color: #3797d6;
        }
      }
      .comment-content{
        padding-left: 10px;
      }
      .row{
        margin: 0px 5px;
        .icon{
          float: left;
          a{
            color:grey;
            padding-left: 10px;
          }
        }
      }
    }
  }
}
.btn-save{
  float: right;
  margin-right: 5px;
  margin-top: 10px;
}
.infor-author{
  padding: 0px 30px;
}
.btn-clips{
  width: 100%;
  margin: 0px auto;
  text-align: center;
  a{
    margin-bottom: 10px;
    background: #3293ce;
    height: 40px;
    line-height: 33px;
    text-align: center;
    padding: 5px 30px;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
  }
  a:hover{
    text-decoration: none;
  }
}
.list-avatar-user{
  width: 100%;
  text-align: center;
}
.saved a{
  background: #cecece;
}
.saved a:hover{
  text-decoration: none;
}
.lists-tag{
  margin-bottom: 15px;
}
span.title-tags {
  float: left;
  background: #e6e6e6;
  margin-left: 10px;
  padding: 3px 9px;
  border-radius: 7px;
}
.row.item-related {
  width: 100%;
  transition: 0.6s;
  margin:  0px !important;
  padding-top: 5px;
}
.item-related:hover{
  background: #dededecf;
}
.img-post-related img {
  width: 100%;
  height: 50px;
}
