*{
  margin: 0px;
  padding: 0px;
}
.header{
  width: 100%;
  height: 90px;
  box-sizing: border-box;
  line-height: 90px;
  position: fixed;
  background: white;
  z-index: 10;
}
.li-active{
  border-bottom: 3px solid orange;
}
.img-logo{
  width: 15%;
  height: 90px;
  float: left;
}
.img-logo img{
  width: 100%;
  height: 60px;
}
.menu-header{
  width: 85%;
  height: 90px;
  float: left;
  line-height: 90px;
}
.menu-header ul{
  width: 100%;
  height: 90px;
}
.menu-header ul li{
  float: left;
  width: auto;
  padding: 0px 10px;
  list-style-type: none;
}
.menu-header ul li a{
  text-transform: uppercase;
  font-family: "arial";
  font-weight: 600;
  color:black;
  text-decoration: none;
  transition: all 2s;
}
.menu-header ul li:hover {
  border-bottom: 3px solid orange;
  transform: scale(1,1);
}
.btn-search{
  width: auto;
  float: left;
}
.action-user{
  width: 100%;
  height: 90px;
  .dropdown-toggle:hover{
    background: none;
  }
}

/*main*/

.main{
  width: 100%;
  background: whitesmoke;
  height: auto;
  min-height: 800px;
  padding: 30px 5px;
  min-width: 800px;
}
.tb-block{
  width: 100%;
  height: auto;
  float: left;
}
.tb-block-head{
  width: 100%;
  height: 40px;
  background: white;
  margin-bottom: 5px;
  padding: 0px 10px;
  position: relative;
  box-shadow: 2px 2px 4px 0 #ccc;
}
.tb-block-head:before {
  content: '';
  position:  absolute;
  border-bottom: 8px solid red;
  border-right:  8px solid transparent;
  left: 0;
  position:  absolute;
  bottom: 0;
  width:  0;
  height:  0;
}
.tb-block-head h4{
  height: 40px;
  line-height: 40px;
}
.tb-block-head span{
  font-weight: bold;
}
.tb-block-main{
  width: 100%;
  background: white;
  padding: 0px 10px;
  box-shadow: 2px 2px 4px 0 #ccc;
}
.tb-block-main-img img{
  width: 100%;
  height: 190px;
  margin: 20px 0px;
}
.tb-block-main-content p a{
  color: black;
  text-decoration: none;
  transition: 0.4s;
  font-size: 1.2em;
}
.break-word{
  overflow: hidden;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  height: 35px;
}
.tb-block-main-content p a:hover{
  color: red;
}
.tb-block-main-release-item p a{
  color: #4e4e4e;
  text-decoration: none;
  transition: 0.4s;
  font-size: 1em;
  font-style: italic;
}
.tb-block-main-release-item p a:hover{
  color: red;
}
.nowrap{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.user-info{
  width: 100%;
  padding: 0px 10px;
  height: 30px;
  margin-bottom: 5px;
}
.link-post, .name-user{
  font-size: 13px;
  color: grey;
}
.link-post{
  border-right: 1px solid #b5b1b1;
  box-sizing: border-box;
}
.link-post span, .name-user span{
  margin-left: 5px;
}
.link-post span > a{
  color: grey;
  text-decoration: none;
}

.footer{
  float: left;
  width: 100%;
  height: 100px;
  background: black;
  text-align: center;
  line-height: 100px;
}
.footer p{
  font-size: 16px;
  padding: 0px;
  margin: 0px;
}
.post-content{
  padding: 20px;
  h3{
    font-weight: bold;
  }
  .info{
    font-style: italic;
    color:#6e6e6e;
    .user-name{
      margin-right: 15px;
    }
    .fa{
      margin-right: 5px;
    }
  }
  .post-relate{
    margin: 40px 0px;
    h4{
      font-weight: bold;
    }
    ul{
      padding: 0px 20px;
      li{
        list-style: circle;
      }
    }
  }
}
.new-post{
  line-height: 90px;
  float: left;
  margin-left: 10px;
  color: black;
  a{
    color:black;
    text-decoration: none;
  }
}
.icon-menu{
  display: none;
}
@media only screen and (max-width: 1220px){
  .menu-header{
    display: none;
  }
  .icon-menu{
    display: block;
    float: right;
  }
}
h1 {
  text-align: center;
  margin-top: 50px;
}

.masonry {
  -webkit-column-count: 3;
  -moz-column-count:3;
  column-count: 3;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
  margin-top: 30px;
  padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  font-size: .85em;
}
.item {
  display: inline-block;
  padding: 1em;
  width: 100%;
  -webkit-transition:1s ease all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
@media only screen and (max-width: 320px) {
    .masonry {
      -moz-column-count: 1;
      -webkit-column-count: 1;
      column-count: 1;
    }
}

@media only screen and (min-width: 321px) and (max-width: 768px){
    .masonry {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1200px){
    .masonry {
      -moz-column-count: 3;
      -webkit-column-count: 3;
      column-count: 3;
    }
}
@media only screen and (min-width: 1201px) {
    .masonry {
      -moz-column-count: 3;
      -webkit-column-count: 3;
      column-count: 3;
    }
}

li.user-action {
  height: 90px;
  line-height: 90px;
}
