<ol class="breadcrumb breadcrumb-arrow">
  <li>
    <a href="#">Home</a>
  </li>
  <li class="active"><span><%= @category.category_name %></span></li>
</ol>
<%= render "shared/left_content_post" %>
<%= render "shared/right_content_post" %>
